<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>About Me</h2><hr>
                        </div>
                        
                        <div class="col-md-12">                            
                            <h4><b>Full Name </b>&nbsp; : {{user.name}}</h4>
                            <h4><b>Username  </b>&nbsp;&nbsp; : {{user.username}}</h4>                        
                            <h4><b>Email Id </b>&nbsp; &nbsp;&nbsp; : {{user.email}}</h4>
                            <h4><b>User Id </b>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{user._id}}</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
