<style>

    img{
        max-width:100%;
        max-height:100%;
        height: auto;
    }

    .logo{
        top: 50px;
    }

    h1{
        position: absolute;
        top: 80px;
        font-family: 'Rock Salt', cursive;
        font-size: 50px;
        color:  rgb(23,61,104)
    }
</style>

<div class="col-md-3 col-md-offset-4 logo">
    <img src="/images/logo.png">
</div>

<div class='text col-lg-12 col-lg-offset-3 '>
    <h1>An Online Voting Platform</h1>
</div>

{{!--     
<form action="/greet" method = "post">
 <div class="col-md-7 col-md-offset-3 panel panel-body">
                <div class="form-group">
                    <label for="expiry_date">Expiry Date</label>
                        <div class='input-group date' id='datetimepicker3'>
                            <input type='datetime-local' class='form-control date' name='expiry_date' data-date-format="DD MMMM YYYY" class="form-control" required/>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="form-group col-md-8 col-md-offset-3  text-center">
                <button type="submit" class="btn btn-info">Create</button>
            </div>

</form> --}}