<html>
    <head>
        <title>iVoteOnline</title>
    </head>
    <style>
        body{
        }
    </style>
    <body>
        <h1> iVoteOnline </h1><br>
        <h3>An online voting platform </h3>
    </body>
</html>