<body>
    <h1>Login</h1>
    <br><br>
    <form action="/login" method="POST">
        Email <br>
        <input type="text" name='email'> <br>
        Password <br>
        <input type="password" name='password'> <br>
        <input type="submit" name='Login' value="Login">
    </form>
</body>