<body>
    <h1>Login</h1>
    <br><br>
    <form>
        Username <br>
        <input type="text" name='username'> <br>
        Password <br>
        <input type="password" name='password'> <br>
        <input type="button" name='Login' value="Login">
    </form>
</body>