    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>{{poll.title}}</h2><hr>
                            <h3>{{poll.body}}</h5>
                            
                            <div class='row'>
                                <div class="col-md-5 col-md-offset-3 text-center">
                                    <div>
                                        {{#each candidates}}
                                            <button type="submit" id='{{this._id}}' class='btn-success pull-right' method='post'> 
                                            <h4>{{this.name}}</h4>
                                            </button>
                                            <br><br><br>
                                        {{/each}}                                                                            
                                    </div> 
                                </div>
                            </div>

                        </div>
                        </div>
                        
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


