<div>
    <div class="col-lg-5 col-lg-offset-3 text-center panel panel-body">
        <h3>{{poll.title}}</h3> <hr>
        <h5>{{poll.body}}</h5>
    </div>
    <br><br>

    <div class=" col-lg-3 col-lg-offset-4 alert alert-danger alert-dismissible" role="alert">                                        
        <strong>You can't vote in this election. </strong>
    </div>


</div>