<body>
    <h1>Signup</h1>
    <br><br>
    <form action="signup/" method="POST">
        Username <br>
        <input type="text" name='name'> <br>
        Email <br>
        <input type="text" name='email'> <br>
        Password <br>
        <input type="password" name='password'> <br>
        Password 2 <br>
        <input type="password" name='password2'> <br>
        <input type="submit" name='Signup' value="Signup" ><br><br>
    </form>
</body>